[Desktop Entry]
Name=Thumbnail Grid Alternative
Comment=

Type=Service
X-KDE-ServiceTypes=KWin/WindowSwitcher

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

Icon=preferences-system-windows-switcher-big-icons
X-KDE-PluginInfo-Author=Elandig
X-KDE-PluginInfo-Email=elan@sestudio.org
X-KDE-PluginInfo-Name=thumbnail_grid_alternative
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/Elandig/thumbnail-gird-alternative
X-KDE-PluginInfo-Depends=
